
  .img-container {
    max-width:80%;
    max-height:auto;

    position: relative;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-color: #0a192f;
    }
    img {
      width:100%;
      height:100%;
      object-fit:cover;
   
    }
}
#pjrojectWrapper{
 
  width: 80%;
  height: 100%;
  color: white;
  display: flex;
 
  justify-content: space-between;
  align-items: flex-start;
 
}
.projectTitle{
  font-size:3rem;
 font-weight: 600;
  padding: 10px 5px;
  color: white;
}
.projectDescription {
  font-size: 1rem;
  padding: 10px 5px;
  color: white;
  max-width: 500px;
  
}
 
.animatable {
  position: relative;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  animation: .75s cubic-bezier(1,-0.01,.12,.8) 0s 1 reveal forwards;
}

.animatable::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(65, 62, 85);
  padding: inherit;
  animation: .75s cubic-bezier(1,-0.01,.12,.8) .75s 1 hideBlack forwards;
}

@keyframes reveal {
  from { clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); }
  to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

@keyframes hideBlack {
  from { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  to { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
}